APP_NAME=Soundmaze
SECRET_KEY=your-secret-key-here
MAIL_SERVER=smtps.aruba.it
MAIL_PORT=465
MAIL_USE_TLS=False
MAIL_USE_SSL=True
MAIL_USERNAME=your-email@soundmaze.it
MAIL_PASSWORD=your-mailbox-password
MAIL_DEFAULT_SENDER=noreply@soundmaze.it
