services:
  caddy:
    image: caddy:2-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - flask

  flask:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    restart: unless-stopped
    expose:
      - "8000"
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - REDISTOGO_URL=http://redis:6379
      - FLASK_CONFIG=production
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - DEV_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - MAIL_SERVER=${MAIL_SERVER:-smtp.sendgrid.net}
      - MAIL_PORT=${MAIL_PORT:-587}
      - MAIL_USERNAME=${MAIL_USERNAME:-}
      - MAIL_PASSWORD=${MAIL_PASSWORD:-}
      - FLASK_APP=manage
      - ADMIN_EMAIL=${ADMIN_EMAIL:-admin@soundmaze.com}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
    command: ["gunicorn", "--bind", "0.0.0.0:8000", "--workers", "2", "manage:app"]
    depends_on:
      - redis
      - db

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    restart: unless-stopped
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - REDISTOGO_URL=http://redis:6379
      - FLASK_CONFIG=production
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - DEV_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - FLASK_APP=manage
    command: ["flask", "run-worker"]
    depends_on:
      - redis
      - db

volumes:
  pgdata:
    driver: local
  caddy_data:
    driver: local
  caddy_config:
    driver: local
