{% extends 'layouts/base.html' %}

<!-- {% macro book_entry(title, description=None) %}
    <a class="column">
        <div class="ui padded segment">
            <h3 class="ui header">
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %} -->

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
              Booklist
            </h2>
            <!-- {%for book in books %}
            <div class="ui two column stackable grid">
                {{ book_entry(book.name, description=book.description }}
            <div>{{book.name}</div>
            </div>
            {% endfor %} -->

        </div>
    </div>
{% endblock %}