{% extends 'layouts/base.html' %}



{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Booklist
            </h2>

            <div class="ui two column stackable grid">
                {% for book in books %}
                    <div class="column">
                        <div class="ui padded segment">
                            <a href="{{ url_for('books.book_info', book_id=book.id) }}">
                                <h3 class="ui header display-title">
                                    <div class="content">
                                        {{ book.name }}
                                        <div class="sub header italic">
                                            {{ book.owner.full_name() }}
                                        </div>
                                    </div>
                                </h3>
                            </a>
                            <div class="content">
                                {{ book.description }}
                            </div>
                            <div class="ui hidden divider"></div>
                            {% if start_wps and book.id in start_wps %}
                            <a href="{{ url_for('books.play_waypoint', book_id=book.id, waypoint_id=start_wps[book.id].id) }}" class="ui teal button"><i class="play icon"></i> Listen</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>
{% endblock %}